.air.toml
.cursorrules
tmp/
web/node_modules
web/.next

.env
.env.local
.env.development
.env.production
.env.test
.env.*
!.env.template
!.env.prod.template

.idea

node_modules
uploads/**

# Binaries
/main
/cli-tui